body{
  background: #f5f5f5;
}
.wrap{
  width: 500px; box-shadow: 0 0 5px 0 rgba(0,0,0,.3); background: #fff; margin: 70px auto 0; border-radius: 5px; overflow: hidden;
  >.e-img{
    padding: 100px 0; background: url(../images/mountain.jpg) no-repeat; background-size: cover;
  }
  .e-showDate{
    text-align: center; color: #fff; font-size: 23px; position: relative;
    .e-arrow{
      display: block; width: 26px; height: 26px; line-height: 24px; border-radius: 50%; font-size: 18px; background: rgba(0,0,0,.2); color: #fff;
      position: absolute; top: 2px; left: 100px; cursor: pointer; transition: all .4s;
      &:hover{
        background: rgba(0,0,0,.4);
      }
      &.e-right{
        left: auto; right: 100px;
      }
    }
  }
  .e-date{
    padding: 20px;
    .e-table{
      width: 100%;
      th{
        color: #B4B4B4; width: 14.2857142857%; line-height: 50px; font-weight: normal;
      }
      td{
        text-align: center; line-height: 50px; font-size: 18px; color: #B4B4B4;
        &.cur-month{
          color: #333;
        }
        &.current{
          display: block; width: 36px; height: 36px; line-height: 36px; margin: 7px auto 0; color: #fff; background: #31C1FD; border-radius: 50%;
        }
      }


    }
  }
}
